In [1]:
import seaborn as sn
import pandas as pd

# California Renewable Energy Production

To Do:

1) Create an analysis plan.

    - How will we calculate the radiance and weather above each solar plant?
    - Will we generalize statewide, county wide, or 4 km^2 ?
    
2) Clean and organize the data.

    - Given the granularity of the data we would like to use, drop the data that we don't want and store it in a new dataframe.
    - Clean Nan and null values
    - Run summaries on dataframes to make sure the data doesn't have outliers from recording mistakes.
  
3) Visualize the data.

    - Plot each column or critical values to see general trends and begin exploratory analysis.

# Solar Data
I went through and cleaned the data. This was pretty intense on my GPU and took a long time so I've pickled the dataframe. From here on out we will just load in the pickled pandas dataframe instead running all the computations for cleaning.

Below is the code, but basically:

1) Checked for unique values and dropped useless rows.

2) Converted LocalDateTime to hold datetime objects.

3) Converted Datetime to the index of the dataframe so that we may merge the weather data to this dataframe.

In [2]:
#solar = pd.read_csv("PGE_No_Load_StartThru2016Q4.csv")
#solar.head(10)
#solar["ID"].unique()
#solar["Flag"].unique()
#solar["Inctv_type"].unique()
#solar = solar.drop(columns = "Inctv_type")
#solar["LocalDateTime"] = pd.to_datetime(solar["LocalDateTime"], format='%d%b%y:%H:%M:%S')
#solar["pa"].unique()
#solar = solar.drop(columns ="pa")
#solar.index = solar["LocalDateTime"]
#solar = solar.drop(columns = "LocalDateTime")
#solar.to_pickle("./solar.pkl")

In [5]:
solar_cleaned = pd.read_pickle("./solar.pkl")

In [6]:
solar_cleaned.head()

                         ID      kWh Flag
LocalDateTime
2010-08-26 00:00:00  A-1611  0.01625    M
2010-08-26 00:15:00  A-1611  0.01650    M
2010-08-26 00:30:00  A-1611  0.01625    M
2010-08-26 00:45:00  A-1611  0.01600    M
2010-08-26 01:00:00  A-1611  0.01600    M

In [24]:
plant_lookup_df = pd.read_csv("./WorkingDataSet_11-20-2019.csv")

In [25]:
#plant_lookup_df = plant_lookup_df.drop(columns = ["MASH Track 1A Incentive Amount", "MASH Track 1B Incentive Amount",
#                                                  "MASH Track 2 Incentive Amount", "MASH Track 1A % Capacity", 
#                                                  "MASH Track 1B % Capacity"])

In [40]:
A_1611_project = plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'A-1611']

In [41]:
A_1611_project[['Host Customer Physical Zip Code','Host Customer Physical Address County','Host Customer Physical Address City']]

Empty DataFrame
Columns: [Host Customer Physical Zip Code, Host Customer Physical Address County, Host Customer Physical Address City]
Index: []

In [43]:
A_1611_project

Empty DataFrame
Columns: [Application Number, Program Administrator, Program, Incentive Design, Incentive Type, Incentive Step, Incentive Amount, Total Cost, Nameplate Rating, CEC PTC Rating, Design Factor, CSI Rating, Current Incentive Application Status, Cancellation Reason, Host Customer NAICS Code, System Owner Sector, System Owner NAICS Code, Host Customer Sector, Host Customer Physical Address City, Host Customer Physical Address County, Host Customer Physical Address State, Host Customer Physical Zip Code, First New Reservation Request Date, First Online Reservation Request Submitted Date, First Reservation Request Review Date, First Pending RFP Date, First RFP Review (Gov't/Non-Profit only) Date, First Suspended - RFP Review Date, First Reservation Reserved Date, First Online Proof of Project Milestones Submitted Date, First Proof of Project Milestones Review Date, First Suspended - Milestone Review Date, First Suspended - Reservation Review Date, First Confirmed Reservation Date, First Online Incentive Claim Request Submitted Date, First Incentive Claim Request Review Date, First Suspended - Incentive Claim Request Review Date, First Pending Payment Date, First PBI - In Payment Date, First Completed Date, First Withdrawn Date, First Cancelled Date, First Site Transferred Date, First System Removed Date, Solar Contractor Company Name, Contractor License Number, Seller Company Name, 3rd Party Owner, Is a PBI Buyout Application, PV Module#1 Manufacturer, PV Module#2 Manufacturer, PV Module#3 Manufacturer, PV Module#4 Manufacturer, PV Module#5 Manufacturer, PV Module#6 Manufacturer, PV Module#7 Manufacturer, PV Module#8 Manufacturer, PV Module#9 Manufacturer, PV Module#1 Model, PV Module#2 Model, PV Module#3 Model, PV Module#4 Model, PV Module#5 Model, PV Module#6 Model, PV Module#7 Model, PV Module#8 Model, PV Module#9 Model, PV Module#1 Quantity, PV Module#2 Quantity, PV Module#3 Quantity, PV Module#4 Quantity, PV Module#5 Quantity, PV Module#6 Quantity, PV Module#7 Quantity, PV Module#8 Quantity, PV Module#9 Quantity, Inverter#1 Manufacturer, Inverter#2 Manufacturer, Inverter#3 Manufacturer, Inverter#4 Manufacturer, Inverter#5 Manufacturer, Inverter#6 Manufacturer, Inverter#7 Manufacturer, Inverter#8 Manufacturer, Inverter#9 Manufacturer, Inverter#10 Manufacturer, Inverter#1 Model, Inverter#2 Model, Inverter#3 Model, Inverter#4 Model, Inverter#5 Model, Inverter#6 Model, Inverter#7 Model, Inverter#8 Model, Inverter#9 Model, Inverter#10 Model, Inverter#1 Quantity, Inverter#2 Quantity, Inverter#3 Quantity, Inverter#4 Quantity, ...]
Index: []

[0 rows x 124 columns]