In [2]:
import seaborn as sn
import pandas as pd

# California Renewable Energy Production

To Do:

1) Create an analysis plan.

    - How will we calculate the radiance and weather above each solar plant?
    - Will we generalize statewide, county wide, or 4 km^2 ?
    
2) Clean and organize the data.

    - Given the granularity of the data we would like to use, drop the data that we don't want and store it in a new dataframe.
    - Clean Nan and null values
    - Run summaries on dataframes to make sure the data doesn't have outliers from recording mistakes.
  
3) Visualize the data.

    - Plot each column or critical values to see general trends and begin exploratory analysis.

# Solar Data
I went through and cleaned the data. This was pretty intense on my GPU and took a long time so I've pickled the dataframe. From here on out we will just load in the pickled pandas dataframe instead running all the computations for cleaning.

Below is the code, but basically:

1) Checked for unique values and dropped useless columns.

2) Converted LocalDateTime to hold datetime objects.

3) Converted Datetime to the index of the dataframe so that we may merge the weather data to this dataframe.

In [3]:
#solar = pd.read_csv("PGE_No_Load_StartThru2016Q4.csv")
#solar.head(10)
#solar["ID"].unique()
#solar["Flag"].unique()
#solar["Inctv_type"].unique()
#solar = solar.drop(columns = "Inctv_type")
#solar["LocalDateTime"] = pd.to_datetime(solar["LocalDateTime"], format='%d%b%y:%H:%M:%S')
#solar["pa"].unique()
#solar = solar.drop(columns ="pa")
#solar.index = solar["LocalDateTime"]
#solar = solar.drop(columns = "LocalDateTime")
#solar.to_pickle("./solar.pkl")

In [16]:
solar_cleaned = pd.read_pickle("./solar.pkl")

In [19]:
solar_cleaned.ID.unique()

array(['A-1611', 'A-1619', 'A-1620', 'A-1637', 'PGE-CSI-00021',
       'PGE-CSI-00022', 'PGE-CSI-00081', 'PGE-CSI-00086', 'PGE-CSI-00088',
       'PGE-CSI-00114', 'PGE-CSI-00153', 'PGE-CSI-00213', 'PGE-CSI-00221',
       'PGE-CSI-00242', 'PGE-CSI-00331', 'PGE-CSI-00346', 'PGE-CSI-00392',
       'PGE-CSI-00403', 'PGE-CSI-00598', 'PGE-CSI-00612', 'PGE-CSI-00646',
       'PGE-CSI-00744', 'PGE-CSI-00815', 'PGE-CSI-00882', 'PGE-CSI-00899',
       'PGE-CSI-01011', 'PGE-CSI-01018', 'PGE-CSI-01210', 'PGE-CSI-01251',
       'PGE-CSI-01540', 'PGE-CSI-01568', 'PGE-CSI-01886', 'PGE-CSI-01961',
       'PGE-CSI-01965', 'PGE-CSI-02001', 'PGE-CSI-02011', 'PGE-CSI-02037',
       'PGE-CSI-02057', 'PGE-CSI-02132', 'PGE-CSI-02198', 'PGE-CSI-02307',
       'PGE-CSI-02343', 'PGE-CSI-02360', 'PGE-CSI-02569', 'PGE-CSI-02793',
       'PGE-CSI-02805', 'PGE-CSI-03073', 'PGE-CSI-03281', 'PGE-CSI-03315',
       'PGE-CSI-03503', 'PGE-CSI-03514', 'PGE-CSI-03911', 'PGE-CSI-04259',
       'PGE-CSI-04291', 'PGE-CSI-04297', 'PGE-CSI-04405', 'PGE-CSI-04470',
       'PGE-CSI-04535', 'PGE-CSI-04581', 'PGE-CSI-04708', 'PGE-CSI-04710',
       'PGE-CSI-04830', 'PGE-CSI-04907', 'PGE-CSI-04968', 'PGE-CSI-04978',
       'PGE-CSI-05115', 'PGE-CSI-05528', 'PGE-CSI-05615', 'PGE-CSI-05760',
       'PGE-CSI-05827', 'PGE-CSI-06088', 'PGE-CSI-06137', 'PGE-CSI-06180',
       'PGE-CSI-06467', 'PGE-CSI-06546', 'PGE-CSI-06606', 'PGE-CSI-06631',
       'PGE-CSI-06634', 'PGE-CSI-06637', 'PGE-CSI-06657', 'PGE-CSI-06777',
       'PGE-CSI-06973', 'PGE-CSI-07017', 'PGE-CSI-07201', 'PGE-CSI-07211',
       'PGE-CSI-07315', 'PGE-CSI-07352', 'PGE-CSI-07379', 'PGE-CSI-07459',
       'PGE-CSI-07460', 'PGE-CSI-07528', 'PGE-CSI-07751', 'PGE-CSI-07848',
       'PGE-CSI-07986', 'PGE-CSI-08109', 'PGE-CSI-08126', 'PGE-CSI-08170',
       'PGE-CSI-08243', 'PGE-CSI-08397', 'PGE-CSI-08530', 'PGE-CSI-09022',
       'PGE-CSI-09139', 'PGE-CSI-09364', 'PGE-CSI-09384', 'PGE-CSI-09674',
       'PGE-CSI-09783', 'PGE-CSI-09988', 'PGE-CSI-10063', 'PGE-CSI-10181',
       'PGE-CSI-10254', 'PGE-CSI-10255', 'PGE-CSI-10315', 'PGE-CSI-10404',
       'PGE-CSI-10566', 'PGE-CSI-11707', 'PGE-CSI-11812', 'PGE-CSI-11837',
       'PGE-CSI-12007', 'PGE-CSI-12264', 'PGE-CSI-12350', 'PGE-CSI-12368',
       'PGE-CSI-12549', 'PGE-CSI-12762', 'PGE-CSI-13164', 'PGE-CSI-13290',
       'PGE-CSI-13479', 'PGE-CSI-13567', 'PGE-CSI-13843', 'PGE-CSI-14031',
       'PGE-CSI-14097', 'PGE-CSI-14331', 'PGE-CSI-14410', 'PGE-CSI-14485',
       'PGE-CSI-14495', 'PGE-CSI-15158', 'PGE-CSI-15356', 'PGE-CSI-15483',
       'PGE-CSI-15574', 'PGE-CSI-15669', 'PGE-CSI-15717', 'PGE-CSI-15768',
       'PGE-CSI-15776', 'PGE-CSI-16128', 'PGE-CSI-16209', 'PGE-CSI-16402',
       'PGE-CSI-16586', 'PGE-CSI-16776', 'PGE-CSI-16803', 'PGE-CSI-17105',
       'PGE-CSI-17631', 'PGE-CSI-17633', 'PGE-CSI-17648', 'PGE-CSI-17756',
       'PGE-CSI-17854', 'PGE-CSI-17878', 'PGE-CSI-17895', 'PGE-CSI-18128',
       'PGE-CSI-18382', 'PGE-CSI-18701', 'PGE-CSI-18719', 'PGE-CSI-18834',
       'PGE-CSI-18902', 'PGE-CSI-18923', 'PGE-CSI-18999', 'PGE-CSI-19215',
       'PGE-CSI-19346', 'PGE-CSI-19627', 'PGE-CSI-19762', 'PGE-CSI-19833',
       'PGE-CSI-19953', 'PGE-CSI-19957', 'PGE-CSI-20129', 'PGE-CSI-20156',
       'PGE-CSI-20549', 'PGE-CSI-20592', 'PGE-CSI-20661', 'PGE-CSI-20665',
       'PGE-CSI-20687', 'PGE-CSI-20909', 'PGE-CSI-21031', 'PGE-CSI-21067',
       'PGE-CSI-21507', 'PGE-CSI-21850', 'PGE-CSI-22016', 'PGE-CSI-22211',
       'PGE-CSI-23030', 'PGE-CSI-23115', 'PGE-CSI-24017', 'PGE-CSI-24753',
       'PGE-CSI-25011', 'PGE-CSI-25381', 'PGE-CSI-25632', 'PGE-CSI-26397',
       'PGE-CSI-26977', 'PGE-CSI-27198', 'PGE-CSI-27776', 'PGE-CSI-28116',
       'PGE-CSI-28306', 'PGE-CSI-29542', 'PGE-CSI-30311', 'PGE-CSI-30992',
       'PGE-SASH-0773', 'PGE-SASH-1419', 'PGE-SASH-2895', 'PGE-SASH-3292',
       'PGE-SASH-3546', 'PGE-SASH-3713', 'PGE-SASH-3832', 'PGE-SASH-4071',
       'PGE-SASH-4101', 'PGE-SASH-4787'], dtype=object)

In [6]:
plant_lookup_df = pd.read_csv("./WorkingDataSet_11-20-2019.csv")

C:\Users\Tamuz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (27,29,42,43,51,52,53,54,55,56,57,60,61,62,63,64,65,66,80,81,82,83,84,90,91,92,93,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#plant_lookup_df = plant_lookup_df.drop(columns = ["MASH Track 1A Incentive Amount", "MASH Track 1B Incentive Amount",
#                                                  "MASH Track 2 Incentive Amount", "MASH Track 1A % Capacity", 
#                                                  "MASH Track 1B % Capacity"])

In [27]:
A_1611_project = plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'A-1611']
A_1619_project = plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'A-1619']

In [26]:
A_1611_project[['Host Customer Physical Zip Code','Host Customer Physical Address County','Host Customer Physical Address City']]

,Host Customer Physical Zip Code,Host Customer Physical Address County,Host Customer Physical Address City
27475,93234,Fresno,Huron

In [28]:
A_1619_project[['Host Customer Physical Zip Code','Host Customer Physical Address County','Host Customer Physical Address City']]

,Host Customer Physical Zip Code,Host Customer Physical Address County,Host Customer Physical Address City
72861,95112,Santa Clara,San Jose

In [34]:
A_1619 = solar_cleaned['ID'] == 'A-1619'
A_1611 = solar_cleaned['ID'] == 'A-1611'

In [44]:
A_1619 | A_1611

LocalDateTime
2010-08-26 00:00:00     True
2010-08-26 00:15:00     True
2010-08-26 00:30:00     True
2010-08-26 00:45:00     True
2010-08-26 01:00:00     True
                       ...
2016-12-31 22:45:00    False
2016-12-31 23:00:00    False
2016-12-31 23:15:00    False
2016-12-31 23:30:00    False
2016-12-31 23:45:00    False
Name: ID, Length: 36053945, dtype: bool

In [45]:
solar_cleaned[(A_1619) | (A_1611)]

                         ID      kWh Flag
LocalDateTime
2010-08-26 00:00:00  A-1611  0.01625    M
2010-08-26 00:15:00  A-1611  0.01650    M
2010-08-26 00:30:00  A-1611  0.01625    M
2010-08-26 00:45:00  A-1611  0.01600    M
2010-08-26 01:00:00  A-1611  0.01600    M
...                     ...      ...  ...
2016-12-31 22:45:00  A-1619  0.00800    M
2016-12-31 23:00:00  A-1619  0.00800    M
2016-12-31 23:15:00  A-1619  0.00800    M
2016-12-31 23:30:00  A-1619  0.00800    M
2016-12-31 23:45:00  A-1619  0.00800    M

[390371 rows x 3 columns]

In [12]:
plant_lookup_df.loc[plant_lookup_df['Application Number'] == 'PGE-CSI-00392']

,Application Number,Program Administrator,Program,Incentive Design,Incentive Type,Incentive Step,Incentive Amount,Total Cost,Nameplate Rating,CEC PTC Rating,...,CEC PTC Rating Single-Axis Tracking,CEC PTC Rating Dual-Axis Tracking,CSI Rating Fixed,CSI Rating Single-Axis Tracking,CSI Rating Dual-Axis Tracking,MASH Track 1A Incentive Amount,MASH Track 1B Incentive Amount,MASH Track 2 Incentive Amount,MASH Track 1A % Capacity,MASH Track 1B % Capacity
65548,PGE-CSI-00392,PG&E,Small Commercial (< 10 kW) and All Residential,$2.50 per Watt EPBB,EPBB,Step 2,10070.0,37856.21,4.62,4.048,...,0.0,0.0,4.028,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [13]:
training_data_cleaned = pd.read_pickle("./training_data.pkl")

In [14]:
solar_cleaned = pd.read_pickle("./training_data.pkl")

,ID,kWh,Flag,Year,Month,Day,Hour,Minute,Relative Humidity,Dew Point,...,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle,Clearsky GHI,Clearsky DNI,Clearsky DHI,Cloud Type
LocalDateTime,,,,,,,,,,,,,,,,,,,,,
2010-08-26 00:00:00,A-1611,0.01625,M,2010.0,8.0,26.0,0.0,0.0,32.64,6.0,...,0.0,0.0,0.0,2.5,24.0,133.37,0.0,0.0,0.0,0.0
2010-08-26 00:30:00,A-1611,0.01625,M,2010.0,8.0,26.0,0.0,30.0,34.66,6.0,...,0.0,0.0,0.0,2.4,24.0,132.93,0.0,0.0,0.0,0.0
2010-08-26 01:00:00,A-1611,0.01600,M,2010.0,8.0,26.0,1.0,0.0,34.80,6.0,...,0.0,0.0,0.0,2.4,24.0,131.44,0.0,0.0,0.0,0.0
2010-08-26 01:30:00,A-1611,0.01600,M,2010.0,8.0,26.0,1.0,30.0,34.80,6.0,...,0.0,0.0,0.0,2.3,24.0,129.02,0.0,0.0,0.0,0.0
2010-08-26 02:00:00,A-1611,0.01600,M,2010.0,8.0,26.0,2.0,0.0,34.66,6.0,...,0.0,0.0,0.0,2.3,24.0,125.78,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 21:30:00,A-1611,0.01425,M,2016.0,12.0,31.0,21.0,30.0,71.88,0.0,...,0.0,0.0,0.0,0.3,4.0,144.40,0.0,0.0,0.0,1.0
2016-12-30 22:00:00,A-1611,0.01450,M,2016.0,12.0,31.0,22.0,0.0,71.64,0.0,...,0.0,0.0,0.0,0.5,4.0,150.26,0.0,0.0,0.0,1.0
2016-12-30 22:30:00,A-1611,0.01425,M,2016.0,12.0,31.0,22.0,30.0,76.87,0.0,...,0.0,0.0,0.0,0.6,4.0,155.86,0.0,0.0,0.0,1.0
2016-12-30 23:00:00,A-1611,0.01425,M,2016.0,12.0,31.0,23.0,0.0,77.08,0.0,...,0.0,0.0,0.0,0.7,4.0,160.95,0.0,0.0,0.0,1.0
2016-12-30 23:30:00,A-1611,0.01425,M,2016.0,12.0,31.0,23.0,30.0,82.73,0.0,...,0.0,0.0,0.0,0.7,3.0,164.95,0.0,0.0,0.0,1.0